@model NewScientificArticleViewModel

@{
    ViewBag.Title = "New scientific article";
}

<h2>Add article</h2>

<form asp-controller="ScientificArticle" asp-action="Add" method="post">
    <div class="form-group mb-3">
        <div class="row">
            <label asp-for="Title" class="col-lg-2"></label>
            <input asp-for="Title" class="form-control col-lg"/>
        </div>
        <div class="row">
            <span class="col-lg-2"></span>
            <span asp-validation-for="Title" class="text-danger col-lg"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <div class="row">
            <label asp-for="DateOfPublication" class="col-lg-2">Date of Publication</label>
            <input asp-for="DateOfPublication" type="date" class="form-control col-lg"/>
        </div>
        <div class="row">
            <span class="col-lg-2"></span>
            <span asp-validation-for="DateOfPublication" class="text-danger col-lg"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <div class="row">
            <label asp-for="NumberOfPages" class="col-lg-2">Pages</label>
            <input asp-for="NumberOfPages" min="1" step="1" class="form-control col-lg"/>
        </div>
        <div class="row">
            <span class="col-lg-2"></span>
            <span asp-validation-for="NumberOfPages" class="text-danger col-lg"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <div class="row">
            <label asp-for="Category" class="col-lg-2"></label>
            <select asp-for="Category"
                    asp-items="@(new SelectList(Enum.GetValues<ArticleCategory>()))"
                    class="form-control col-lg">
            </select>
            
        </div>
        <div class="row">
            <span class="col-lg-2"></span>
            <span asp-validation-for="Category" class="text-danger col-lg"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
