@*@model NewScientificArticleViewModel

@{
    ViewBag.Title = "New scientific article";
}

<h2>New article</h2>

$1$ <form action="/ScientificArticle/Edit" method="post"> #1#
<form asp-controller="ScientificArticle" asp-action="Create" method="post">
    <div>
        <input asp-for="I">
    </div>
</form>*@