@using System.Security.Claims
@using Humanizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Login">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item mt-2 me-1">
           Hello <abbr title="@User.Identity?.Name">@(User.Identity?.Name?.Split('@')[0].Titleize() ?? "Nameless user")</abbr>!
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Logout">Logout</a>
        </li>
    }
</ul>