@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Login">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            @(User.Identity?.Name?.Split('@')[0] ?? "Nameless user")
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Logout">Logout</a>
        </li>
    }
</ul>