@model IEnumerable<ScienceJournal>

@{
    ViewBag.Title = "Journals";
}

<h2>All journals</h2>

<table class="table" id="journalsTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price (€)</th>
        <th>Year Founded</th>
        <th>Country of origin</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<p><button id="loadJournals" class="btn btn-primary mt-3">Refresh Journals List</button></p>

@section Scripts
{
    <script src="~/js/scienceJournal/index.js" defer=""></script>
}